body {
    display: grid;
    height: 100vh; /* Ensures the body takes up the full height of the viewport */
    margin: 0; /* Removes default margin */
    place-items: center; /* Centers content both horizontally and vertically */
    align-content: center;
}

.container {
    align-items: center;
}

.location, .current, .time-container {
    display: grid;
    justify-content: center; /* Adjusted to center items */
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}


/*
.location {
    padding: 32px;
}
*/

.temp {
    font-size: 80px;
    font-weight: 500;
}

.condition-container {
    text-align: center;
    font-weight: bold;
}

.country-container, .additional-data-container {
    flex-direction: column;
}

.time-container {
    justify-content: space-between;
    justify-items: end;
}

.localDate, .country {
    display: flex;
    justify-content: end;
}

.localTime {
    font-size: 60px;
}

.timezone {
    display: flex;
    justify-content: end;
}

.name {
    text-align: end;
}

.metric-switch-container {
    text-align: end;
}